<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="description" content="Shopping...">
        <meta name="keywords" content="">
        <meta name="author" content="Bruno Gonçalves">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <meta property="og:title" content="Shopping..."/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content="Shopping..."/>
        <meta property="og:type" content="exercise"/>
        <meta property="og:image" content=""/>
        <meta property="og:description" content="Shopping..."/>

        <!-- build:css css/style.min.css -->
        <link rel="stylesheet" type="text/css" href="css/style.css" >
        <!-- endbuild -->

    </head>
    <body>
        <div class="wrapper">
            <!--header-->
            <header class="header-bar">
                <div class="">
                    <a href="/">
                        Shopping...
                    </a>
                </div>
            </header>    
            <!--end header-->

            <div class="container">
                                <!--cart-->
                <aside class="cart-wrapper">
                    <div class="cart-container">
                        <div class="l1 clearfix">
                            <div class="summary s-60 txt-l">SUMMARY</div>
                            <div class="quantity s-40 txt-r">Quantity <span id="cart-quant">0</span></div>
                        </div>
                        <div class="l2 clearfix">
                            <div class="total s-40 txt-l">Total</div>
                            <div class="total-val s-60 txt-r"><span class="currency">GBP</span> <b>£</b><b id="cart-value">0</b></div>
                        </div>
                        <p class="taxes txt-r">Duties & Taxes included</p>
                    </div>
                </aside>
                <!--end cart-->
                <!--products section-->
                <section class="list-wrapper">
                    
                    <!--cart products list-->
                    <header class="list-header">
                        <div>Your Bag</div>
                    </header>
                    <div class="list" id="cart-list">
                    </div>
                    <!--end cart products list-->
                    
                    <!--products list-->
                    <header class="list-header">
                        <div>Product list</div>
                    </header>
                    <div class="list" id="items-list">
                    </div>
                    <!--end products list-->
                    
                </section>
                <!--end products section-->
                                
                <div class="clearfix"></div>
            </div>
            
            <!--footer-->
            <footer>© BG 2016</footer>
            <!--end footer-->
        </div>
        <script id="item-template" type="text/template">
            <div class="item">
                <div class="item-container">
                    <div class="item-image">
                        <img alt="item-image" src="{{itemImgSrc}}" />
                    </div>
                    <div class="item-description">
                        <h4>{{itemBrand}}</h4>
                        <p class="item-desc">{{itemDesc}}</p>
                        <div class="item-price">{{itemPrice}}£</div>
                    </div>
                    <div class="item-add">
                        <button type="button" onclick="{{buttonAction}}({{itemId}})">{{buttonText}}</button>
                    </div>    
                </div>
            </div>
        </script>
        <!-- build:js js/main.min.js -->
        <script src="js/app.js"></script>
        <!-- endbuild -->
    </body>
</html>     