
$mainfont:         polaris-book;
$mainfont-bold:    polaris-bold;
$mainfont-cond:    polariscondensed-bold;

$body-bg-color:     #F2F2F2;
$blocks-bg-color:   #FFFFFF;
$headers-font-size: 12.5px;
$md-font-size:      13px;
$lg-font-size:      15px;
$xl-font-size:      20px;

$dark-font-color:   #222222;
$grey-font-color:   #AAAAAA;

/*FONTS*/
@font-face {
    font-family: polaris-bold;
    src: url('fonts/polaris-bold-webfont.eot'); 
    src: url('fonts/polaris-bold-webfont.woff') format('woff'),
        url('fonts/polaris-bold-webfont.ttf')  format('truetype'),
        url('fonts/polaris-bold-webfont.svg') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: polaris-book;
    src: url('fonts/polaris-book-webfont.eot'); 
    src: url('fonts/polaris-book-webfont.woff') format('woff'),
        url('fonts/polaris-book-webfont.ttf')  format('truetype'),
        url('fonts/polaris-book-webfont.svg') format('svg');
}

@font-face {
    font-family: polariscondensed-bold;
    src: url('fonts/polariscondensed-bold-webfont.eot'); 
    src: url('fonts/polariscondensed-bold-webfont.woff') format('woff'),
        url('fonts/polariscondensed-bold-webfont.ttf')  format('truetype'),
        url('fonts/polariscondensed-bold-webfont.svg') format('svg');
    font-weight: bold; 
}
/*END FONTS*/

/*GENERIC*/
body {
    font-family: $mainfont;
    margin: 0px;
    background-color: $body-bg-color;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.s-20{
    width: 20%;
    float: left;
}
.s-40{
    width: 40%;
    float: left;
}
.s-50{
    width: 50%;
    float: left;
}
.s-60{
    width: 60%;
    float: left;
}
.s-80{
    width: 80%;
    float: left;
}

.txt-l{
    text-align: left;
}
.txt-c{
    text-align: center;
}
.txt-r{
    text-align: right;
}

button:focus {
    outline:0;
}

.wrapper{

}
/*END GENERIC*/


/*HEADER*/
header.header-bar{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #000;
    line-height: 60px;
    font-size: $xl-font-size;
    padding: 0px 30px;
    z-index: 100;
}

.header-bar a{
    color: #FFF;
    text-decoration: none;
}
/*END HEADER*/

/*LIST*/

.list-wrapper{
    width: 80%;
    float: left;
}

.container{
    max-width: 1340px;
    margin: 0px auto;
    position: relative;
    margin-bottom: 6px;
    height: 100%;
    margin-top: 60px;
    top: 6px;
}

header.list-header{
    height: 50px;
    line-height: 50px;
    background-color: $blocks-bg-color;
    margin-bottom: 3px;
    padding-left: 20px;
    font-size: $headers-font-size;
    font-family: $mainfont-bold;
    clear: both;
}

.list{
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 3px;
    /*    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;*/
}

.list .item{
    width: 20%;
    float: left;
    border:3px solid $body-bg-color;
}

/*.item:nth-child(5n) {
    border-right: 0px solid #f2f2f2;
}*/

/*.item:nth-child(5n+1) {
    clear: both;
}*/

.item-container{
    padding: 20px;
    background-color: $blocks-bg-color;
    text-align: center;
}

.list .item .item-image{
    text-align: center;
}

.list .item .item-image img{
    width: 100%;
    max-width: 100%;
}

.list .item .item-description h4{
    color: $dark-font-color;
    font-size: $md-font-size;
    letter-spacing: 2.2px;
    font-family: $mainfont-cond;
    text-transform: uppercase;
    line-height: 19px;
}

.list .item .item-description .item-desc{
    color: $dark-font-color;
    font-size: $md-font-size;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .item .item-description .item-price{
    color: $dark-font-color;
    font-size: $md-font-size;
    text-transform: uppercase;
    line-height: 19px;
}

.list .item .item-add{
    padding: 30px 15px 10px 15px;
}

.list .item .item-add button{
    background-color: $blocks-bg-color;
    border: 1px solid #DDD;
    border-radius: 40px;
    width: 100%;
    line-height: 35px;
    font-size: $md-font-size;
    font-family: $mainfont-bold;
    white-space: nowrap;
}
/*END LIST*/

/*CART*/

.cart-wrapper{
    width: 20%;
    float: right;
}

.cart-container{
    margin-left: 6px;
    background-color: $blocks-bg-color;
    padding: 15px 10px;
}

.cart-container .l1{
    margin: auto;
    width: 100%;
    line-height: 40px;
}
.cart-container .l1 .summary{
    font-size: 24px;
    color: $dark-font-color;
    font-family: $mainfont-cond;
    letter-spacing: 2.1px;
}
.cart-container .l1 .quantity{
    color: $grey-font-color;
    font-size: $md-font-size;
    font-family: $mainfont;
    letter-spacing: 0.8px;
}
.cart-container .l1 .quantity span{
    padding-left: 2px;
}

.cart-container .l2{
    margin: auto;
    width: 100%;
    line-height: 40px;
    padding-top: 20px;
}
.cart-container .l2 .total, .cart-container .l2 .total-val{
    color: $dark-font-color;
    font-size: $lg-font-size;
    font-family: $mainfont-bold;
}
.cart-container .l2 .currency{
    color: $dark-font-color;
    font-size: $lg-font-size;
    font-family: $mainfont;
}
.cart-container .taxes{
    width: 100%;
    margin: 0px;
    color: $grey-font-color;
    font-size: $md-font-size;
    font-family: $mainfont;
    letter-spacing: 0.8px;
}

.no-items{
    background-color: $blocks-bg-color;
    text-align: center;
    margin:6px 4px 6px 3px;
    padding: 20px;
}
/*END CART*/

/*FOOTER*/
footer{
    margin-top: 3px;
    height: 60px;
    width: 100%;
    background-color: #000;
    color: #FFF;
    text-align: center;
    line-height: 60px;
}
/*END FOOTER*/

/*MEDIA QUERY*/

@media screen 
and (min-width: 1025px) 
and (max-width: 1280px)  {
    .container{
        max-width: 1240px;
        padding: 0px 20px;
    }
    .list-wrapper{
        width: 75%;
    }
    .list .item{
        width: 25%;
    }
    .list .item .item-image img{
        width: auto;
    }
    .cart-wrapper{
        width: 25%;
    }
}
@media screen 
and (min-width: 768px) 
and (max-width: 1024px)  {
    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 70%;
    }
    .list .item{
        width: 50%;
    }
    .list .item .item-image img{
        width: auto;
    }
    .cart-wrapper{
        width: 30%;
    }
}
@media screen 
and (min-width: 441px) 
and (max-width: 768px)  {
    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 60%;
    }
    .list .item{
        width: 100%;
    }
    .list .item .item-image img{
        width: auto;
    }
    .cart-wrapper{
        width: 40%;
    }
}
@media screen 
and (max-width: 440px)  {
    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 100%;
        width: 100%;
        position: relative;
        top: 150px;
        z-index: 10;
    }
    .list .item{
        width: 100%;
    }
    .list .item .item-image img{
        width: 50%;
    }
    .cart-wrapper{
        width: 100%;
    }
    .cart-container{
        margin: 0px 0px 6px 0;
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0px;
        z-index: 20;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 70%;
    }
    .list .item{
        width: 50%;
    }
    .cart-wrapper{
        width: 30%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 70%;
    }
    .list .item{
        width: 33%;
    }
    .cart-wrapper{
        width: 30%;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : portrait) {

    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 100%;
        width: 100%;
        position: relative;
        top: 150px;
        z-index: 10;
    }
    .list .item{
        width: 100%;
    }
    .list .item .item-image img{
        width: 50%;
    }
    .cart-wrapper{
        width: 100%;
    }
    .cart-container{
        margin: 0px 0px 6px 0;
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0px;
        z-index: 20;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    .container{
        max-width: none;
    }
    .list-wrapper{
        width: 65%;
    }
    .list .item{
        width: 50%;
    }
    .cart-wrapper{
        width: 35%;
    }
    .cart-container{
    }
}